body {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  width: 80%;
  height: 70%;
}
.login,
.password {
  height: 50px;

  padding-left: 20px;
}
.enter {
  height: 50px;
}
