body {
  background-color: white;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.containerBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(84, 130, 255);
  width: 200px;
  height: 400px;
  margin-right: 20px;
}


img {
  height: 100px;
}
